@tailwind base;
@tailwind components;
@tailwind utilities; 
 
 
 
 
 html, body, #root {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}



.Navlogo{
  z-index: 1000;
  position: absolute;
  left: 10px;
  top: 10px;
  color: Green;
  font-weight: bold;
  font-size: 2rem;
   
}

.transparent-icon {
  background: transparent;
  border: none;
}


/* tooltip: distance poup animation  */
.fade-in-tooltip {
  opacity: 0;
  animation: fadein 10s ease forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}


 